.input-control {
  display: flex;
  align-items: center;
  background: #f4f4f4;
  border-radius: 88px;
  padding: 10px 20px;
  margin: 0 10px 0 0;
  width: percentage(225/885);
  line-height: 20px;
  &:first-child {
      flex-grow: 1;
  }
  span {
    font-weight: bold;
    color: $text-color;
    white-space: nowrap;
  }
  input, select {
      border: none;
      background: transparent;
      color: $text-color;
      flex-grow: 1;
      display: block;
      padding-left: 20px;
      &:focus {
          outline: none;
          border: 0;
      }
      &::-webkit-input-placeholder { /* Edge */
        color: $text-gray;
      }
      
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $text-gray;
      }
      
      &::placeholder {
        color: $text-gray;
      }
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  label {
    font-weight: 600;
  }
  .input-text {
    border: none;
    padding: 7px 0;
    border-bottom: 1px solid #eee;
    font-weight: 400;
    color: $primary;
    &:focus, &:active, &.active {
      outline: none;
      border-bottom: 1px solid $primary;
    }
    &::-webkit-input-placeholder { /* Edge */
      color: $gray;
    }
    
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $gray;
    }
    
    &::placeholder {
      color: $gray;
    }
  }
}
