.wraper {
    flex-grow: 1;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
   
    .page-item {
        width: 30px;
        height: 30px;
        margin: 15px 4px;
        transition: all 0.4s ease-in-out;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        cursor: pointer;
        &.active, &:hover {
            background-color: $secondary;
            color: white;
        }

    }
    span {
        text-align: center;
        line-height: 30px;
        display: block;
        width: 30px;
        height: 30px;
        margin: 15px 4px;  
    }
}
.breadcrumb {
    list-style: none;
    display: flex;
    align-items: center;
    color: $gray;
    margin-bottom: 1.5rem;
    .breadcrumb-item {
        font-size: 11px;
        font-weight: 500;
        display: flex;
        align-items: center;
        &.current {
            color: $text-color;
        }
        &.ic-home {
            display: block;
            width: 12px;
            height: 12px;
            background: url('../images/home.svg') no-repeat center center;
            font-size: 0;
        }
        a {
            color: $gray;
            &:hover {
                color: $primary;
            }
        }
        
    }
    .breadcrumb-item + .breadcrumb-item::before {
        content: '';
        float: left;
        margin-right: 1rem;
        transform: translate3d(0, -15%, 0) rotate(45deg);
        text-align: center;
        cursor: pointer;
        padding: 0;
        z-index: 1;
        height: 6px;
        width: 6px;
        overflow: hidden;
        background: transparent;
        border: 0;
        border-top: 1px solid $gray;
        border-right: 1px solid $gray;
        transition: all 200ms ease;
        margin-top: 1px;
    }
}
.time {
    display: flex;
    align-items: center;
    &::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        background: url('../images/time.svg') no-repeat center center;
        margin-right: 10px;
    }
}
.parallax-wrapper {
    overflow-y: hidden;
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    position: relative;
    &.short {
        min-height: 300px;
    }
    @include xs-screen() {
        min-height: 400px;
    }
}
.parallax {
    display: block;
    min-height: 150%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    &.plx-terminal {
        background-image: url("../images/parallax/about-full.jpg");
        @include xs-screen() {
            background-image: url("../images/parallax/about-full-mb.jpg");
        }
    }
    &.airport {
        background-image: url("../images/parallax/airport-full.jpg");
    }
    &.dvc {
        background-image: url("../images/parallax/dvc.jpg");
    }
    &.about {
        background-image: url("../images/parallax/aboutus.jpg");
        @include xs-screen() {
            background-image: url("../images/parallax/aboutus-mb.jpg");
        }
    }
    &.csr {
        background-image: url("../images/parallax/csr.jpg");
    }
    &.newsdetail {
        background-image: url("../images/parallax/preview.jpg");
    }
    &.search-banner {
        background-image: url("../images/parallax/search-banner.jpg");
    }
    &.plx-contact {
        background-image: url("../images/parallax/contact-banner.jpg");
        // min-height: 300px;
    }
    &.plx-support {
        background-image: url("../images/parallax/support.jpg");
        // min-height: 300px;
    }
    &.plx-about {
        background-image: url("../images/parallax/about-block.jpg");
        @include xs-screen() {
            background-image: url("../images/parallax/about-block-mb.jpg");
        }
    }
    
}
.hide-xs {
    @include xs-screen() {
        display: none !important;
    }
}
.visible-xs {
    @include tablet() {
        display: none !important;
    }
}

.modal {
    background-color: rgba($color: #000000, $alpha: 0.25);
    &.show {
        display: block;
    }
    .modal-title {
        font-size: 16px;
        color: black;
        margin-bottom: 10px;
    }
    .modal-header {
        display: flex;
        flex-direction: column;
        background-color: $primary;
        margin-bottom: 5px;
        img {
            margin: 15px auto -40px;
            position: relative;
            z-index: 9;
        }
    }
    .modal-body {
        padding: 30px;
        border-top: 5px solid $secondary;
    }
}