.contact-form {
    padding-left: 20px;
    margin-bottom: 8px;
    @media #{$xl-viewport} {
        padding-left: 60px;
    }
}
.form-action {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    .g-recaptcha {
        transform:scale(0.67);
        transform-origin:0 0;
        height: 50px;
        width: 63%;
        margin-right: -20%;
        // @media #{$xl-viewport} {
            
        // }
    }
    @include xs-screen() {
        justify-content: center;
        margin: 15px;
        flex-wrap: wrap;
        .g-recaptcha {
            margin: 15px auto;
            transform-origin: 50% 0;
            width: auto;
        }
    }
}
.text-note {
    margin-top: 16px;
    font-size: 11px;
    font-weight: 500;
    color: $gray;
}
#contact-us {
    .contact {
        padding: 60px 0;
    }
    .form-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 18px;
    }
    .contact-box {
        width: auto;
        margin-right: -20px;
        margin-bottom: 30px;
        h3 {
            font-weight: 500;
        }
        @include xs-screen() {
            margin: 0 0 30px;
        }
    }
    .contact-group {
        display: flex;
        .contact-info {
            border-right: 1px solid #eee;
            
        }
        .contact-time {
            margin-top: 11px;
            font-weight: 600;
        }
    }
    .contact-info {
        padding: 0 percentage(15/555) 0 percentage(15/555);
        margin: 0 percentage(15/555) 20px 0;
        @media #{$lg-viewport} {
            padding: 0 percentage(40/555) 0 percentage(50/555);
            margin: 0 percentage(38/555) 20px 0;
        }
        
        h3, p {
            margin-top: 5px;
        }
    }
}