.carousel {
  background: #eee;
}
.main-carousel {
  z-index: 9;
  .slick-arrow {
    position: absolute;
    border: none;
    top: 50%;
    font-size: 0;
    background: url('../images/arrow.svg') no-repeat center center;
    width: 22px;
    height: 40px;
    cursor: pointer;
    margin-top: -20px;
    z-index: 9;
    opacity: 0.4;
    transition: all 0.3s ease;
    &:hover {
      opacity: 1;
    }
    @include xs-screen() {
      display: none;
    }
  }
  
  .slick-arrow.slick-prev {
    transform: rotate(180deg);
    left: 65px;
  }
  .slick-arrow.slick-next {
    right: 65px;
  }
  .slick-dots {
    padding: 0 15px;
    width: 1200px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 25%;
    background: transparent;
    text-align: left;
    opacity: 1;
    display: flex;
    align-items: center;
    position: absolute;
    @include xs-screen() {
      width: auto;
      margin: 0 auto;
      bottom: 50px;
    }
    li{
      list-style: none;
      margin-right: 15px;
      opacity: 0.4;
      &.slick-active {
        border: 1px solid white;
        position: relative;
        background-color: transparent;
        opacity: 1;
        border-radius: 50%;
        text-align: center;
      }
      button  {
        cursor: pointer;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: none;
        font-size: 0;
        margin: 6px;
        padding: 0;
        background: white;
      }
    }
  }
}
.carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  @include xs-screen() {
    padding-bottom: 100%;
    img {
      max-width: inherit;
      width: auto;
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

.carousel-content {
  position: absolute;
  bottom: 32%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9;
  h2 {
    // width: percentage(384/1200);
    line-height: 130%;
    font-weight: 600;
    color: white;
    
  }
  @include xs-screen() {
    bottom: 80px;
    text-align: center;
    h2 {
      font-size: 35px;
    }
  }
}


.homepage {
  position: relative;
  @include tablet() {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: percentage(267/1440);
      max-width: 267px;
      height: 100%;
      background: url('../images/bg_left.png') no-repeat 0% 58%;
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: percentage(386/1440);
      max-width: 386px;
      height: 100%;
      background: url('../images/bg_right.png') no-repeat 100% 58%;
      z-index: -1;
    }
  }
}

.top-block, .top-block-lg {
  width: percentage(565/1140);
  text-align: center;
  padding: 80px 0 40px;
  margin: 0 auto;
  .semi {
    font-weight: 600;
    color: $text-color;
  }
  .title, .title-spacing {
    font-size: 30px;
    font-weight: 500;
    color: $blue;
    margin: 5px 0 20px;
    line-height: 37px;
    @include xs-screen() {
      font-size: 25px;
    }
  }
  .title-spacing {
    letter-spacing: 0.65rem;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 10px;
    & + .semi {
      margin-bottom: 20px !important;
    }
  }
  .text-content {
    color: #626262;
  }
  @include xs-screen() {
    // padding: 30px 0 20px;
    width: 98%;
  }
}
.top-block-lg {
  width: percentage(730/1170);
  padding: 50px 0 40px;
  @include xs-screen() {
    padding: 20px 0;
    width: 98%;
  }
}
.slick-slide {
  opacity: 0.3;
  transition: all 0.4s ease;
  &.slick-active {
    opacity: 1;
  }
}
.block-carousel, .news-slider, .corevalue-slider {
  position: relative;
  margin: 0 -10px;
  @include xs-screen() {
    margin: 0 !important;
    padding-right: 30px !important;
  }
  .carousel-item {
    width: 100%;
    padding: 0 10px;
    border-radius: 5px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
    &:hover {
      z-index: 9;
      img {
          transform: scale(1.1);
      }
    }
  }
  .carousel-item-content {
    h4 {
      margin: 20px 0 10px;
    }
    .carousel-item-link {
      color: black;
      font-size: 18px;
      font-weight: 600;
      &:hover {
        color: $primary;
      }
    }
  }
  .news-slider-item {
    padding: 0 15px;
  }

  .slick-slide:focus {
    outline: none;
  }
  .slick-arrow {
    position: absolute;
    border: none;
    top: 50%;
    font-size: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: -20px;
    z-index: 9;
    transition: all 0.3s ease;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #EEEEEE;
    &:after {
      content: '';
      margin: 12px auto;
      display: block;
      width: 6px;
      height: 12px;
      background:  url('../images/arrow-xs.svg') no-repeat center center;
      // filter: brightness(0) invert(1);
    }
    &:hover {
      opacity: 1;
      background-color: $blue;
      border: 1px solid transparent;
      &:after {
        content: '';
        filter: brightness(0) invert(1);
      }
    }
    @include xs-screen() {
      display: none;
    }
  }
  .slick-arrow.slick-prev {
    left: -50px;
    @include laptop_screen() {
      left: -90px;
    }
    @include xs-screen() {
      left: 15px;
    }
  }
  .slick-arrow.slick-next {
    right: -50px;
    transform: rotate(180deg);
    @include laptop_screen() {
      right: -90px;
    }
    @include xs-screen() {
      right: 15px;
    }
  }
  .slick-list {
    overflow: visible;
  }
  .slick-dots {
    padding: 0 15px;
    margin: 0 auto;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20%;
    background: transparent;
    text-align: left;
    opacity: 1;
    display: flex;
    align-items: center;
    position: absolute;
    li{
      list-style: none;
      margin-right: 15px;
      opacity: 0.4;
      &.slick-active {
        border: 1px solid white;
        position: relative;
        background-color: transparent;
        opacity: 1;
        border-radius: 50%;
        text-align: center;
      }
      button  {
        cursor: pointer;
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: none;
        font-size: 0;
        margin: 6px;
        padding: 0;
        background: white;
      }
    }
  }
}
.news-slider {
  .slick-arrow {
    &:hover {
      border-color: #eee;
    }
  }
}
.service {
  overflow: hidden;
  background-color: white;
  .btn.btn-outlined {
    margin-top: 50px;
  }
}
.about-block {
  position: relative;
  padding: 58px 0;
  @include xs-screen() {
    padding: 25px 0;
  }
}
.about-content {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  @include xs-screen {
    flex-wrap: wrap;
    position: static;
    padding: 0 50px;
  }
  .about-item {
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 34px 15px 27px;
    width: percentage(270/1140);
    position: relative;
    @include xs-screen {
      width: 100%;
      border: 1px solid #eee;
      margin: 25px 0;
    }
    &::before {
      content: '';
      position: absolute;
      display: block;
      left: 50%;
      top: -17px;
      margin-left: -17px;
      width: 35px;
      height: 35px;
      background: url('../images/ic_check.svg') center center;
    }
    h3 {
      color: $secondary;
      line-height: 37px;
      margin-bottom: 2px;
      @include xs-screen {
        font-size: 30px;
      }
    }
  }
}

.customer{
  padding: 40px 0 78px;
  h4 {
    margin-bottom: 19px;
  }
  .text-center {
    img {
      padding: 0 20px;
    }
  }
  @include xs-screen() {
    padding: 30px 0;
    h4 {
      padding: 0 11%;
      font-size: 18px;
    }
    .d-flex {
      flex-wrap: wrap;
      margin-top: 10px;
    }
    .text-center img {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.brand-category {
  padding-left: 30px;
  @include xs-screen() {
    padding-left: 0;
  }
}
.brand-item {
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
  width: percentage(118/818);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border: 1px solid #EEEEEE;
  padding: 18px;
  transition: all 0.3s ease;
  @include xs-screen() {
    width: 28%;
  }
  img {
    object-fit: contain;
    width: 100%;
  }
  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
  }
}

section.news {
  padding: 62px 0 50px;
  background-color: $blue;
  color: white;
  overflow: hidden;
  .news-slider {
    margin: 0 -15px;
    &::before, &::after {
      background-color: #006B99;
    }
  }
  .visible-xs a {
    color: white;
    margin-top: 30px;
    display: inline-block;
  }
  .top-news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
    color: white;
    margin-bottom: 30px;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .news-slider-item {
    .date {
      margin-bottom: 10px;
    }
    img {
      border-radius: 5px;
      width: 100%;
    }
    .news-item-title {
      color: white;
      transition: all 0.3s ease;
      &:hover {
        color: $secondary;
      }
    }
    h5 {
      font-size: 16px;
      font-weight: 600;
      margin: 20px 0 10px;
      line-height: 22px;
    }
    p {
      color: rgba($color: #fff, $alpha: 0.8);
      margin: 0 0 15px;
    }
    .semore {
      color: white;
      padding-top: 15px;
      display: inline-block;
      border-bottom: 1px solid transparent;
      transition: all 0.3s ease;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 100%;
        bottom: 4px;
        width: 8px;
        height: 8px;
        transform: rotate(180deg);
        display: inline-block;
        margin-left: 10px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        transform: rotate(135deg);
      }
      &:hover {
        color: $secondary;
        border-color: $secondary;
        &::after {
          border-color: $secondary;
        }
      }
    }
    &:hover {
      z-index: 9;
      img {
          transform: scale(1.1);
      }
    }
  }
}

// SUPPORT
section.support {
  background: url('../images/banner/support.jpg') no-repeat center center;
  background-size: cover;
  padding: 28px 0 31px;
  color: white;
  @include xs-screen() {
    text-align: center;
    background: url('../images/banner/support-mb.jpg') no-repeat center center;
    padding: 60px 0 !important;
    h2 {
      font-size: 40px;
      padding: 0 10%;
    }
    .justify-content-end {
      margin-top: 15px;
      justify-content: center !important;
    }
  }
}
 /*
 * Animations
 */

 @keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
   }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
   }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.slideInFromLeft {
animation: slideInFromLeft .5s ease-in-out;
}

.slideInFromRight {
animation: slideInFromRight .5s ease-in-out;
}

.fadeIn {
animation: fadeIn .5s ease-in-out;
}