.wraper-container {
    margin-top: -30px;
    @include xs-screen() {
        margin-top: 0;
        section {
            padding: 30px 0;
        }
        .tab-content {
            padding: 20px 0 0;
        }
    }
}
.blue-box {
    background-color: rgba($color:$blue, $alpha: 0.95);
    padding: 40px;
    color: white;
    width: percentage(556/1170);
    position: absolute;
    bottom: -30px;
    border-radius: 5px;
    h3 {
        margin-bottom: 20px;
        font-weight: 500;
    }
    p:last-child {
        margin-bottom: 0;
    }
    @include xs-screen() {
        padding: 30px;
        position: static;
        z-index: 9;
        margin: -100px -5px 0;
        width: auto;
    }
}
.full--banner {
    position: relative;
    padding: 80px 0 0;
    .container {
        position: relative;
    }
    @include xs-screen() {
        padding: 30px 0 0;
    }
}

.page-section {
    padding: 30px 0 0;
}
.grid-box {
    display: grid;
    grid-template-columns: percentage(373/1140) percentage(373/1140) percentage(373/1140);
    grid-auto-flow: row;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    @include large-screen() {
        grid-template-columns: 50% 50%;
    }
    @include xs-screen() {
        grid-template-columns: 100%;
    }
    &.grid-box-4 {
        grid-template-columns: percentage(277/1140) percentage(277/1140) percentage(277/1140) percentage(277/1140);
        @include large-screen() {
            grid-template-columns: 50% 50%;
        }
        @include xs-screen() {
            grid-template-columns: 100%;
        }
    }
    .grid-item {
        // margin: 5px;
        padding: 19px;
        border: 1px solid #eee;
        border-radius: 5px;
        min-height: 100px;
        font-weight: 600;
        transition: all 0.3s ease;
        position: relative;
        &::after{
            content:"";
            display: block;
            position: absolute;
            background: url('../images/frame.png') no-repeat center center;
            width: 0;
            height: 27px;
            opacity: 0;
            right: 10px;
            bottom: 10px;
            transition: all 0.4s ease;
        }
        &:hover {
            background-color: $secondary;
            color: white;
            &::after{
                content:"";
                opacity: 1;
                width: 103px;
            }
        }
    }
}
.certificate-box {
    background-color: $blue;
    color: white;
    padding: 29px 40px 17px;
    border-radius: 5px 0px 0px 5px;
    position: relative;
    margin-left: 23px;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::after {
        content: '';
        background-color: $blue;
        position: absolute;
        left: 100%;
        top: 0;
        height: 100%;
        width: 500%;
        
    }
    @include xs-screen() {
        margin: 15px -15px 0 15px;
        padding: 20px 30px 20px 20px;
        &::after {
            display: none;
        }
    }
}
.list-check {
    list-style: none;
    padding: 0;
    li {
        background: url('../images/check.svg') no-repeat left 9px;
        padding-left: 35px;
        color: white;
        line-height: 260%;
    }
}
.prizes-list {
    margin: -10px auto 0;
    width: 77.4%;
    @include xs-screen() {
        width: 100%;
    }
}
.prize-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0;
    border-bottom: 1px solid #eee;
    color: black;
    font-weight: 600;
    margin-bottom: 6px;
    .file {
        padding-right: 45px;
        font-size: 11px;
        line-height: 140%;
        background: url('../images/ic_download.svg') no-repeat 35px center;
        filter: grayscale(100%);
        color: $gray;
    }
    &.active , &:hover{
        border-bottom: 1px solid $secondary;
        color: black;
        .file {
            color: $secondary;
            filter: grayscale(0%);
        }
        
    }
}
.w-md-75 {
    width: 75%;
    @include xs-screen() {
        width: 100%;
    }
}
#about {
    .text-gray {
        padding: 30px 0 0 56px;
        @include xs-screen() {
            padding: 30px 15px;
        }
    }
}
#advantages {
    padding: 60px 0 0;
}
#location, #related {
    padding: 25px 0 0;
}
#certificate {
    padding: 70px 0 0;
}
#related {
    margin-bottom: 30px;
}
.procedure-tabs {
    margin-top: -27px;
    .tab-content {
        padding-bottom: 10px;
    }
}
.col-md-7 {
    img {
        width: 100%;
    }
}