<header>
    <div class="container d-flex align-items-center">
        <h1 class="logo"><a href="/"><img src="../images/logo.png" alt="ALS">ALS</a></h1>
        <ul class="main-nav">
            <li><a href="service.html">Dịch vụ</a></li>
            <li><a href="about.html">Về ALS</a></li>
            <li><a href="customer.html">Khách hàng</a></li>
            <li><a href="news.html">Tin tức</a></li>
            <li><a href="contacts.html">Liêm hệ</a></li>
        </ul>
        <div class="right-nav">
            <div class="hotline">
                <p>Hotline</p>
                <span>+84 24 3795 3838</span>
            </div>
            <div class="action-box">
                <a href="#">Nhận tư vấn</a>
                <a href="#">Tra cứu</a>
            </div>
            
            <div class="search-nav">
                <div class="btn-search toggle"><img src="../images/ic_search.png" alt="search"></div>
                <div class="search-content">
                    <input type="text" placeholder="Tìm kiếm ...">
                    <button class="search-submit"><img src="../images/ic_search_blue.png" alt="search"></button>
                </div>
            </div>
            <div class="ico-user"></div>
            
            <div class="language">
                <div class="btn-lang vi">
                    <span class="country">VN</span>
                </div>
                <div class="lang-nav collapse" id="langModal">
                    <div class="flag" data-flag="vi">Tiếng Việt</div>
                    <div class="flag" data-flag="en">English</div>
                </div>
            </div>
        </div>
    </div>
</header>